body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    color: #333;
}

.navbar {
    background-color: #007BFF;
    padding: 20px;
    color: #ffffff;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar h1 {
    margin: 0;
    font-size: 24px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px auto;
    max-width: 1200px;
    padding: 0 20px;
}

.info, .login-form, .review-form {
    background: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin: 20px;
    flex: 1 1 45%;
}

h2 {
    color: #333;
}

p, ul, label {
    color: #555;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #f8f9fa;
    color: #333;
}

input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
    display: block;
    width: 100%;
    padding: 15px;
    background: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #0056b3;
}

button:active {
    background: #004080;
}

@media (max-width: 600px) {
    .container {
        margin: 20px;
        padding: 15px;
        flex-direction: column;
    }

    .info, .login-form, .review-form {
        flex: 1 1 100%;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 22px;
    }

    label {
        font-size: 14px;
    }

    input[type="text"],
    input[type="number"],
    textarea {
        font-size: 14px;
    }

    button {
        font-size: 14px;
        padding: 12px;
    }
}
